{% extends "base_page.html" %}

{% block content %}
    <h1>Список изображений</h1>

    {% if images %}

        {% for image in images %}
            <p><a href="{% url 'view_image' image.guid %}">{{ image.name }}</a></p>
        {% endfor %}

    {% else %}
        <p>Нет доступных изображений</p>
    {% endif %}

    <a href="{% url 'upload_page' %}">Добавить изображение</a>

{% endblock %}
