{% extends "base_page.html" %}

{% block content %}

    <a href="{% url 'base_page' %}">Назад к списку</a>

    <h1>Новое изображение</h1>

    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <table>
            <tr>
                <td>
                    <label for="url">Ссылка</label>
                    <input name="url" type="url">
                </td>
            </tr>
            <tr>
                <td>
                    <label for="file">Файл</label>
                    <input name="file" type="file" value="file" accept="image/*">
                </td>
            </tr>
        </table>
        <input type="submit" value="Отправить"/>
    </form>

{% endblock %}